Cpic.Search/cfg/Cfg/Service References/TranslationC2EService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WebServiceC2E">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strContent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebServiceC2EResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebServiceC2EResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSC2EByApNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCnApNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSC2EByApNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSC2EByApNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSC2EByApNoExtend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCnApNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBodyType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nTrsStartNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nTrsEndNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSC2EByApNoExtendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSC2EByApNoExtendResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebServiceC2ESoapIn">
    <wsdl:part name="parameters" element="tns:WebServiceC2E" />
  </wsdl:message>
  <wsdl:message name="WebServiceC2ESoapOut">
    <wsdl:part name="parameters" element="tns:WebServiceC2EResponse" />
  </wsdl:message>
  <wsdl:message name="WSC2EByApNoSoapIn">
    <wsdl:part name="parameters" element="tns:WSC2EByApNo" />
  </wsdl:message>
  <wsdl:message name="WSC2EByApNoSoapOut">
    <wsdl:part name="parameters" element="tns:WSC2EByApNoResponse" />
  </wsdl:message>
  <wsdl:message name="WSC2EByApNoExtendSoapIn">
    <wsdl:part name="parameters" element="tns:WSC2EByApNoExtend" />
  </wsdl:message>
  <wsdl:message name="WSC2EByApNoExtendSoapOut">
    <wsdl:part name="parameters" element="tns:WSC2EByApNoExtendResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="WebServiceC2E">
      <wsdl:input message="tns:WebServiceC2ESoapIn" />
      <wsdl:output message="tns:WebServiceC2ESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSC2EByApNo">
      <wsdl:input message="tns:WSC2EByApNoSoapIn" />
      <wsdl:output message="tns:WSC2EByApNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSC2EByApNoExtend">
      <wsdl:input message="tns:WSC2EByApNoExtendSoapIn" />
      <wsdl:output message="tns:WSC2EByApNoExtendSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebServiceC2E">
      <soap:operation soapAction="http://tempuri.org/WebServiceC2E" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSC2EByApNo">
      <soap:operation soapAction="http://tempuri.org/WSC2EByApNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSC2EByApNoExtend">
      <soap:operation soapAction="http://tempuri.org/WSC2EByApNoExtend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebServiceC2E">
      <soap12:operation soapAction="http://tempuri.org/WebServiceC2E" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSC2EByApNo">
      <soap12:operation soapAction="http://tempuri.org/WSC2EByApNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSC2EByApNoExtend">
      <soap12:operation soapAction="http://tempuri.org/WSC2EByApNoExtend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://202.106.92.187:9090/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://202.106.92.187:9090/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>