Cpic.Search/cfg/Cfg/Web References/EPDS_BSN_ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BnsByAppNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BnsByAppNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BnsByAppNoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BnsByPubNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PubNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BnsByPubNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BnsByPubNoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BnsByAppNoSoapIn">
    <wsdl:part name="parameters" element="tns:BnsByAppNo" />
  </wsdl:message>
  <wsdl:message name="BnsByAppNoSoapOut">
    <wsdl:part name="parameters" element="tns:BnsByAppNoResponse" />
  </wsdl:message>
  <wsdl:message name="BnsByPubNoSoapIn">
    <wsdl:part name="parameters" element="tns:BnsByPubNo" />
  </wsdl:message>
  <wsdl:message name="BnsByPubNoSoapOut">
    <wsdl:part name="parameters" element="tns:BnsByPubNoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="BnsByAppNo">
      <wsdl:input message="tns:BnsByAppNoSoapIn" />
      <wsdl:output message="tns:BnsByAppNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BnsByPubNo">
      <wsdl:input message="tns:BnsByPubNoSoapIn" />
      <wsdl:output message="tns:BnsByPubNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BnsByAppNo">
      <soap:operation soapAction="http://tempuri.org/BnsByAppNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BnsByPubNo">
      <soap:operation soapAction="http://tempuri.org/BnsByPubNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BnsByAppNo">
      <soap12:operation soapAction="http://tempuri.org/BnsByAppNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BnsByPubNo">
      <soap12:operation soapAction="http://tempuri.org/BnsByPubNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.75.8.138/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.75.8.138/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>