PatentWarnning/Service References/ServiceReference/SearchWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPattern" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nSNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_SDbType" type="tns:SearchDbType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SearchDbType">
        <s:restriction base="s:string">
          <s:enumeration value="Cn" />
          <s:enumeration value="DocDB" />
          <s:enumeration value="Dwpi" />
          <s:enumeration value="UserCustomLibrary" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="tns:ResultInfoWebService" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultInfoWebService">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultInfo" type="tns:ResultInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultSearchFilePath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SearchPattern" type="tns:SearchPattern" />
          <s:element minOccurs="0" maxOccurs="1" name="HitMsg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HitCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchPattern">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SearchNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pattern" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DbType" type="tns:SearchDbType" />
          <s:element minOccurs="0" maxOccurs="1" name="StrCnpFile" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchWebServiceSoap" type="tns:SearchWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchWebServiceSoap12" type="tns:SearchWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchWebService">
    <wsdl:port name="SearchWebServiceSoap" binding="tns:SearchWebServiceSoap">
      <soap:address location="http://192.168.131.10:8080/SearchWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchWebServiceSoap12" binding="tns:SearchWebServiceSoap12">
      <soap12:address location="http://192.168.131.10:8080/SearchWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>